@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100&display=swap');
*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box  ;
}
body{
    font-family: 'Exo 2', sans-serif;
    width: 100vw;
    height: 100vh;
    background: url("https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png");
    background-size: 100% 100%;
}
#astronaut1{
    position: absolute;
    top:4%;
    left: 5%;
    height: 500px;
    animation: floating 5s infinite ease-in;
}
#astronaut2{
    position: absolute;
    top:35%;
    left: 30%;
    height: 350px;
    animation: floating 3s infinite ease-in;
}
@keyframes floating {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    
}
form{
    position: absolute;
    top:15%;
    left: 65%;
    background-color: whitesmoke;
    width:425px;
    padding:50px 62px;
    border-radius: 0px;
}
.block-display{
    display: block;
}
label{
    font-size: 16px;
    margin:2-px 0px 4px 0px;
}

input[type="number"],input[type="text"],select{
    width: 300px;
    height: 40px;
    border: 1px solid rgb(12, 12, 7);
    padding: 0 5px;
}
.rent-lable{
    margin-left: 10px;
}
#button{
    display: block;
    border-radius: 20px;
    background-color: rgb(213, 169, 57);
    border:none;
    padding: 15px 20px;
    margin: 40px auto;
}

h1{
    text-align: center;
    margin: 20px auto;
    font-size: 1.8em;
    width: 280px;
}
